/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2017, 8.59.17
    Author     : tss
*/

html, body {
    height: 100%;
}

#slideshow {
    width: 100%;
    height: 100%;
}

#imgGrande1, #imgGrande2 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 600px;
}

.miniatura {
    width: 150px;
}

#contenitore-miniatura.orizzontale {
    text-align: center;
    width: 100%;
    position: absolute;
}

#contenitore-miniatura.orizzontale.basso {
    bottom: 0px;
}

#contenitore-miniatura.orizzontale.alto {
    top: 0px;
}

#contenitore-miniatura.verticale img {
    display: block;
    margin: 2px 0px;
}

#contenitore-miniatura.verticale {
    top: 50%;
    margin-top: -320px;
    position: absolute;
}

#contenitore-miniatura.destra {
    right: 0px;
}

#contenitore-miniatura.sinistra {
    left: 0px;
}

#contenitore-miniatura img.selezionata {
    outline: solid 2px green;
}