/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-gen-2017, 11.30.33
    Author     : tss
*/



table {
    width: 400px; height: 400px;
    margin-top: 100px;
    margin-left: 100px;
    border-style: solid;
    border-color: blueviolet;
   border-collapse: collapse;
}

table#sca tr td:last-child, 
table#sca tr td:first-child, 
table#sca tr:first-child td, 
table#sca tr:last-child td {
    background-color: blue;
}

tr:nth-child(odd) td:nth-child(even),                /* prende tutti i "td" pari dei "tr" dispari */
tr:nth-child(even) td:nth-child(odd)                 /* prende tutti i "td" dispari dei "tr" pari */   
{  
    background-color: white;
}

td {
/*    border: solid 0.5px;*/
    text-align: center;  
    background-color: black;
}




