/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-gen-2017, 16.16.05
    Author     : Emilius
*/

/*audio {
    visibility: hidden;
}*/

#personal label {
    position: absolute;
    left: 20px;
    font-size: 90%;
    padding-top: .2em;
}

input {
    margin-left: 9em;
    margin-bottom: .2em;
    line-height: 1.4em;
}

p {
    color: black;
}

p.group {
    color: blue;
}

p#one {
    color: green;
}

p#one {
    color: magenta;
}

p:first-letter {
    font-size: 24px;
    color: black;
}
