/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-gen-2017, 11.30.33
    Author     : tss
*/



table {
    width: 450px; height: 450px;
    border-style: solid;
    border-color: blueviolet;
    border-spacing: 1px 1px;
    border-collapse: separate;
}

#scacchi {
    background-color: yellow;
}

tr:nth-child(odd) td:nth-child(even) { /* prende tutti i "td" pari dei "tr" dispari */
    background-color: white;
}

tr:nth-child(even) td:nth-child(odd) { /* prende tutti i "td" dispari dei "tr" pari */
    background-color: white;
}

td {
    border-style: solid;
    text-align: center;  
    background-color: black;
}
